.catalog-item-card {
	margin-bottom: 1em;
 }

.hits-row {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-auto-rows: 1fr;
	gap: 20px;
 }

 .col-4 {
	border: 1px solid #dfdada;
 }

 .card-body{
	padding: 0px 20px 10px 20px;
 }

.img-fluid {
	max-width: 100%;
 }

 .card-text {
	font-weight: 500;
	margin-bottom: 15px;
 }

  .top-sales {
	padding: 0;
  }