.btn-outline-del{
	border: 1px solid red;
	border-radius: 2px;
	padding: 5px;
	color: red;
	background: #fff;
}
.btn-outline-del:hover{
	background: #f0f0f0;
}
.btn-outline-del:active{
	transform: scale(0.8, 0.8)
}

.card-form-body{
	border: 1px solid #f0f0f0;
	padding: 30px;
	border-radius: 5px;
}

.form-group{
	display: flex;
	flex-direction: column;
}
.form-control{
	border: 1px solid #dbdada;
	border-radius: 5px;
	padding: 10px;
}
.form-control-margin{
	margin: 10px 0px; 
}
.form-check {
	display: flex;
	flex-direction: row;
}
.form-check-input{
	flex: 0 0 13px;
	cursor: pointer;
}
.form-check-label{
	padding-left: 10px;
	cursor: pointer;
}
.error {
	color: red;
}